
<div *ngIf="driver">
    <h2><span jhiTranslate="vehicleManagerApplicationApp.driver.detail.title">Driver</span> {{driver.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.firstName">First Name</span></dt>
        <dd>
            <span>{{driver.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.lastName">Last Name</span></dt>
        <dd>
            <span>{{driver.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.email">Email</span></dt>
        <dd>
            <span>{{driver.email}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.businessIdentification">Business Identification</span></dt>
        <dd>
            <span>{{driver.businessIdentification}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{driver.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.createdBy">Created By</span></dt>
        <dd>
            <span>{{driver.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.createdDate">Created Date</span></dt>
        <dd>
            <span>{{driver.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{driver.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{driver.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.driver.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'vehicleManagerApplicationApp.StatusType.' + driver.status}}">{{driver.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'driver-vma/'+ driver.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
