<div *ngIf="vehicleTaskDetails">
    <h2><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.detail.title">Vehicle Task Details</span>
        {{vehicleTaskDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.name">Name</span></dt>
        <dd>
            <span>{{vehicleTaskDetails.name}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.description">Description</span></dt>
        <dd>
            <span>{{vehicleTaskDetails.description}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.startDateTime">Start Date Time</span>
        </dt>
        <dd>
            <span>{{vehicleTaskDetails.startDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.endDateTime">End Date Time</span></dt>
        <dd>
            <span>{{vehicleTaskDetails.endDateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.vehicleTask">Vehicle Task</span></dt>
        <dd>
            <div *ngIf="vehicleTaskDetails.vehicleTask">
                <a [routerLink]="['/vehicle-task-vma', vehicleTaskDetails.vehicleTask?.id]">{{vehicleTaskDetails.vehicleTask?.name}}
                    ({{vehicleTaskDetails.vehicleTask.startDateTime | date:'short'}} -
                    {{vehicleTaskDetails.vehicleTask.endDateTime | date:'short'}})</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vehicle-task-details-vma/'+ vehicleTaskDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
