<div>
    <h2>
        <span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.home.title">Vehicle Task Details</span>
        <button class="btn btn-primary float-right jh-create-entity create-vehicle-task-details-vma" [routerLink]="['/', { outlets: { popup: ['vehicle-task-details-vma-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.home.createLabel">
            Create new Vehicle Task Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vehicleTaskDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDateTime"><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.startDateTime">Start Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDateTime"><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.endDateTime">End Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vehicleTask.id"><span jhiTranslate="vehicleManagerApplicationApp.vehicleTaskDetails.vehicleTask">Vehicle Task</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicleTaskDetails of vehicleTaskDetails ;trackBy: trackId">
                <td>{{vehicleTaskDetails.name}}</td>
                <td>{{vehicleTaskDetails.description}}</td>
                <td>{{vehicleTaskDetails.startDateTime | date:'medium'}}</td>
                <td>{{vehicleTaskDetails.endDateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="vehicleTaskDetails.vehicleTask">
                        <a [routerLink]="['../vehicle-task-vma', vehicleTaskDetails.vehicleTask?.id ]" >{{vehicleTaskDetails.vehicleTask?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vehicle-task-details-vma', vehicleTaskDetails.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle-task-details-vma/'+ vehicleTaskDetails.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle-task-details-vma/'+ vehicleTaskDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vehicleTaskDetails && vehicleTaskDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
