
<div *ngIf="cost">
    <h2><span jhiTranslate="vehicleManagerApplicationApp.cost.detail.title">Cost</span> {{cost.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.name">Name</span></dt>
        <dd>
            <span>{{cost.name}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'vehicleManagerApplicationApp.CostType.' + cost.type}}">{{cost.type}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.cost">Cost</span></dt>
        <dd>
            <span>{{cost.cost}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.createdBy">Created By</span></dt>
        <dd>
            <span>{{cost.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.createdDate">Created Date</span></dt>
        <dd>
            <span>{{cost.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{cost.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{cost.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'vehicleManagerApplicationApp.StatusType.' + cost.status}}">{{cost.status}}</span>
        </dd>
        <dt><span jhiTranslate="vehicleManagerApplicationApp.cost.vehicleTask">Vehicle Task</span></dt>
        <dd>
            <div *ngIf="cost.vehicleTask">
                <a [routerLink]="['/vehicle-task-vma', cost.vehicleTask?.id]">{{cost.vehicleTask?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cost-vma/'+ cost.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
